@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Set a constant white background */
  --foreground: #171717; /* Text color */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
